.logo
  a(href="#")
    img.mt-4(src="img/logo-sm.png")
    h1.d-none GoKetit
    i.d-block.tagline Anything, anytime, anywhere..in Chicago
    
  //- .courier-status.float-right
    .avatar(data-status="standby")
      img(src="img/avatar-standby.png")
    //- .avatar(data-status="moving")
    small.status-text Courier Ready
